@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  [data-font='sans'] > * {
    @apply font-sans;
  }

  [data-font='serif'] > * {
    @apply font-serif;
  }

  [data-font='mono'] > * {
    @apply font-mono;
  }

  body {
    @apply bg-neutral-50 text-neutral-950 transition-colors dark:bg-neutral-900 dark:text-neutral-50;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}
